.icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #1e40af; */
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin: 0 auto 16px;
    position: relative;
    /* border: 2px solid red; */
  }
  
  .flag-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
  }

  .service-icon-2{
    border: 2px solid black;
  }