.tech-stack {
    text-align: center;
    padding: 100px 20px;
    background-color: #fff;
  }

  .tech-stack-title {
    font-size: 4rem; /* Larger title */
    margin-bottom: 60px;
    color: black;
    font-weight: 800;
    line-height: 1.2;
  }
  
  .tech-stack h2 {
    font-size: 2rem;
    margin-bottom: 40px;
    color: #333;
  }
  
  .tech-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
  }
  
  .tech-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.8rem;
    color: #333;
    transition: transform 0.3s ease;
  }
  
  .tech-item i {
    font-size: 6rem;
    margin-bottom: 20px;
    color: #b31478 ;
    /* color: #c20078; */
    /* color: #c20078; */
    /* color: #c2005c; */
    /* color: #006dc3; */
    /* color: #0e33b5 */
    /* color: #007bff; */
  }
  
  .tech-item:hover {
    transform: scale(1.2);
  }